@model SportEvents.Models.HomeEventsViewModel
@{
    ViewBag.Title = "Events";
}

@foreach (var item in Model.Događaji)
{
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @{ int i = 0; }
                @foreach (var dn in item.DogađajNatjecatelj)
                {
                    @dn.Natjecatelj.naziv
                    if (i++ == 0)
                    {
                        <span> : </span>
                    }
                }            
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <!--<th width="10%"><img src="  " class="img-rounded" width="90" height="70"></th>-->
                                
                            <th width="25%" style="padding-bottom:3%; text-align:center">
                                @item.Mjesto.Grad.naziv, @item.Mjesto.adresa
                            </th>       
                            <th width="25%" style="padding-bottom:3%; text-align:center">                                
                                @item.datum
                            </th>
                            <th width="20%" style="padding-bottom:3%; text-align:center">Broj posjetitelja:</th>
                            <th width="20%" style="padding-bottom:3%; text-align:center"><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Rezerviraj</a></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
}


